@import "./function.less";
@time: .6s;

.wrapper {
  .main-body {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 20;
    background: #fff;
    .body-wrapper {
      position: relative;
      padding: 60px 15% 40px 15%;
      margin-bottom: 50px;
      min-height: 300px;
      @media (max-width: 1024px) {
        padding: 40px 20px 40px;
      }
      @media (max-width: 320px) {
        padding: 20px 10% 40px;
      }
      .items-container {
        display: flex;
        padding: 0;
        width: 100%;
        flex-wrap: wrap;
        font-size: 0;
        .item {
          position: relative;
          width: 22%;
          margin-bottom: 20px;
          margin-left: 3%;
          transition: opacity @time;
          opacity: 0;
          box-shadow: 2px 2px 10px #6D7177;
          border-radius: 5px;
          overflow: hidden;
          a {
            display: block;
            .item-img {
              width: 100%;
              height: 100%;
            }
          }
        }
        .bottom-color(#22EAAA, #FFF200, #F96D00, #5EA3A6, #6088BB, 15px);
        & :hover {
          & ::after {
            background: lightgrey;
            transition: all .4s ease;
          }
        }
        @media (max-width: 1024px) {
            .item {
              width: 30%;
            }
            .bottom-color(#22EAAA, #FFEED0, #F96D00, #FFB174, #6088BB, 20px);
        }
        @media (max-width: 768px) {
          .item {
            width: 45%;
          }
          .bottom-color(#22EAAA, #FFEED0, #F96D00, #FFB174, #6088BB, 20px);
        }
        @media (max-width: 320px) {
          .item {
            width: 100%;
            margin-left: 0;
          }
        }
      }
      .more {
        padding: 15px 0;
        border-radius: 5px;
        border: 1px solid #abcdef;
        cursor: pointer;
        text-align: center;
        opacity: 0;
      }
      .body-loader {
        position: absolute;
        top:0;
        right: 0;
        left: 0;
      }
      .body-loader-bottom {
        position: relative;
      }
      .body-loader-bottom, .body-loader {
        z-index: 100;
        min-height: 300px;
        .loader-hook {
          position: absolute;
          left: 50%;
          top: 50%;
        }
      }
    }
  }
}
