@import "./function.less";

.wrapper {
  .header-wrapper {
    display: table;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 20;
    overflow: hidden;
    box-shadow: 0 3px 5px #000;
    .border-5px(2px, #40BABD);
    .title {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      font-size: 25px;
      color: #fff;
      .title-1 {
        padding-bottom: 5px;
      }
      .title-2 {
        .title-2-span {
          display: inline-block;
          padding-top: 5px;
          position: relative;
          .border-5px(1px, #fff);
        }
      }
    }
    .mask-1, .mask-2{
      z-index: -20;
      position: fixed;
      left: 0;
      right: 0;
      height: 100%;
    }
    .mask-1 {
      background: #000;
      opacity: 0.6;
    }
    .mask-2 {
      background: url('/images/overlay.png');
      background-size: 1%;
      opacity: 0.5;
    }
    .banner {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: auto;
      height: 100%;
      z-index: -40;
      opacity: 1;
      font-size: 0;
      .banner-item {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        min-height: 100%;
        min-width: 100%;
        opacity: 0;
        .banner-img {
          min-height: 100%;
          min-width: 100%;
          opacity: 1;
        }
        &.active {
          opacity: 1;
        }
      }
    }
  }
}
